// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu');

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

.font1{
  font-family: 'Ubuntu', sans-serif;
}
.font2 {
  font-family: 'Source Sans Pro', sans-serif;
}
.fontSizeTitle1 {
  @include responsive-font(5vw, 16px, 35px, 30px);
}
.fontSizeTitle2 {
  @include responsive-font(13vw, 16px, 150px, 50px);
}
.fontSizeTitle3 {
  @include responsive-font(11vw, 14px, 130px, 50px);
}
.fontSizeTitle4 {
  @include responsive-font(5.5vw, 14px, 80px, 50px);
}
.fontSizeBody1 {
  @include responsive-font(3vw, 14px, 20px, 16px);
}
.fontSizeBody2 {
  @include responsive-font(1.5vw, 6px, 16px, 16px);
}

.color1 {
  color: #311847;
}
$color1: #311847;

.color2 {
  color: #e93e43;
}
$color2: #e93e43;

.colorJS {
  color: #f0da5a;
}
$colorJS: #f0da5a;

$colorGradient1: rgba(134,11,180,0.7);
$colorGradient2: rgba(230,20,100,0.7);

.transition0{
  transition: all 1s;
  -webkit-transition: all 1s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition1{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition1Size{
  transition: font-size 0.2s;
  -webkit-transition: font-size 0.2s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}

.transition2{
  transition: all 1s;
  -webkit-transition: all 1s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition3{
  transition: all 2s;
  -webkit-transition: all 2s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition4{
  transition: all 2s;
  -webkit-transition: all 2s;
  transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}
.transition5{
  transition: all 2s;
  -webkit-transition: all 2s;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
  -webkit-backface-visibility: hidden; //Webkit fix
  transform: translate3d(0px,0px,0px); //Firefox fix
}

.shadowFull {
  box-shadow: 10px 10px 10px rgba(0,0,0,.35), -10px -10px 10px rgba(0,0,0,.35);
}

// Body
body {
  @extend .font1;
  @extend .transition1;
  color: $color1;
  padding: 0;
  margin: 0;
  // background-color: red;
  font-size: 16px;
}
div {
  padding: 0;
  margin: 0;
}

a:link {
   color: inherit;
}

a:visited {
  color: inherit;
}

// Background Image

.backgroundImage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
  z-index: -2;
  // z-index: 20;
  background-image: url("../images/richardCollageWide01.jpg");
  background-attachment: fixed;
  background-position: center;
  // background-repeat: repeat-y;
  background-size: cover;
}

// Navbar
.navbar {
  display: none;
}

.navbarHeight {
  height: 8vmax;
  // height: 100px;
  // max-height: 100px;
  // @media screen and (max-width: 600px){
  //   height: 8vmax;
  //   height: 60px;
  // }
  // @media screen and (max-height: 600px){
  //   height: 8vmax;
  //   height: 60px;
  // }
  opacity: 1;
}

.navbarHeightGone {
  @extend .navbarHeight;
  opacity: 0;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  max-width: 1024px;
  // height: 400px;
  // height: auto;
  margin-left: auto;
  margin-right: auto;
  // border: 1px white solid;
}

// Flexboxes

.mainContainer {
  @extend .flex;
  width: 100%;
  // background-color: black;
  // background-color: rgba(128,0,128,0.4);
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $colorGradient1 , $colorGradient2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $colorGradient1, $colorGradient2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $colorGradient1, $colorGradient2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $colorGradient1 , $colorGradient2); /* Standard syntax */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}




















.navPadding {
  @extend .navbarHeight;
  width: 100%;
}

.section0 {
  @extend.flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // overflow: hidden;
  @extend .navbarHeight;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
  @extend .transition0;
}

.navBox {
  @extend .flex;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: auto;
  color: white;
}

.nav1 {
  @extend .flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.section0Gone {
  @extend.flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // overflow: hidden;
  @extend .navbarHeightGone;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
  .navBox{
    pointer-events: none;
    .nav1 {
      pointer-events: none;
    }
  }
  pointer-events: none;
  @extend .transition0;
}


.nav1Text {
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 2%;
  @include responsive-font(6vw, 14px, 50px, 50px);
  text-align: left;
  // @media screen and (max-width: 600px){
  //   @include responsive-font(2vmax, 18px, 50px, 50px);
  //   text-align: right;
  //   padding-right: 2%;
  //   padding-left: 0;
  // }
  opacity: 1;
  top: 0;
  @extend .transition0;
}
.nav1TextGone {
  @extend .nav1Text;
  position: absolute;
  top: -300px;
  opacity: 0;
  @extend .transition0;
}



















.section1Box {
  @extend .flex;
  width: 100%;
  padding: 30px;
}

.section1 {
  @extend .flex;
  @extend .section;
  height: auto;
  margin: auto;
  border: 0;
  text-align: center;
}

.section1Image {
  @extend .flex;
  width: 30%;
  margin: auto;
  // height: auto;
  // min-height: 200px;
  .section1BoxImage {
    width: 100%;
    height: 100%;
    margin: auto;
    // box-shadow: 10px 10px 10px rgba(0,0,0,.35);
    // border-radius: 5%;
  }
  :hover {
    // box-shadow: 20px 20px 10px rgba(0,0,0,.35);
    @extend .transition2;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  :not(:hover){
    @extend .transition2;
  }
}

.flexText {
  width: 70%;
  margin: auto;
}

.section1Text1 {
  width: 100%;
  color: white;
  @include responsive-font(8vw, 20px, 100px, 50px);
  // text-shadow: 5px 5px 5px rgba(0,0,0,.2);
}

.section1Text2 {
  @extend .section1Text1;
  @extend .font2;
  @include responsive-font(5vw, 16px, 65px, 30px);
}

.section1Text3Box {
  margin-top: 10px;
  color: white;
}

.section1Text3 {
  @extend .section1Text2;
  @include responsive-font(3vw, 16px, 160px, 50px);

  color: white;
  :hover {
    // text-shadow: 10px 10px 5px rgba(0,0,0,0.4);
    @extend .transition2;
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  :not(:hover){
    @extend .transition2;
  }
}
















.section2Box {
  width: 100%;
  background-color: white;
  padding: 20px;
}

.section2 {
  @extend .flex;
  @extend .section;
  height: auto;
  // @extend .shadowFull;
  // background-color: rgba(0,0,0,.1);
}

.section2Text {
  @extend .flex;
  margin: auto;
  width: 98%;
  padding: 20px;
}

.section2TextTitle {
  @extend .color1;
  @extend .fontSizeTitle1;
  margin: auto;
  width: 100%;
}

.section2TextBodyBox {
  @extend .flex;
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.section2TextBody {
  @extend .font2;
  @extend .color1;
  @extend .fontSizeBody1;
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
  text-align: justify;
}


.iconBoxOuter {
  @extend .flex;
  margin: auto;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.35);
  width: 100%;
}

.iconBox {
  @extend .flex;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  margin: auto;
}
// .iconBox {
//   display: -webkit-flex;
//   display: flex;
//   -webkit-flex-direction: row /* works with row or column */;
//   -webkit-align-items: center;
//   align-items: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   width: 100%;
// }
.iconBoxJS {
  @extend .iconBox;
  padding: 0;
  background-color: #f0da5a;
}

.iconBoxImageBox {
  width: 150px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: auto;
  text-align: center;
  :hover {
    @extend .transition2;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  :not(:hover){
    @extend .transition2;
  }
}
.iconBoxImage {
  width: 100%;
}
.iconBoxImageSmall {
  width: 80%;
}
.iconBoxImageBoxJS {
  @extend .flex;
  @extend .iconBoxImageBox;
  padding: 0;
  margin: auto;
}
.iconBoxImageJS {
  @extend .iconBoxImage;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 0;
}
















.section3Box {
  @extend .flex;
  @extend .transition1;
  width: 100%;
  padding: 20px;
  background-color: rgba(0,0,0,.4);
  // background-color: rgba(49, 24, 71, 0.5);
  // background-color: rgba(230, 20, 100, .5);
}

.section3 {
  @extend .section;
  @extend .flex;
  @extend .transition1;
  margin: auto;
  height: auto;
  text-align: center;
  border: 0;
  padding-bottom: 20px;
  // background-color: rgba(0,0,0,.4);
}

.section3Title {
  @extend .fontSizeTitle2;
  width: 100%;
  color: white;
  text-align: center;
}

.tabBar{
  @extend .flex;
  margin: auto;
  width: 90%;
  margin-bottom: 10px;
  // @extend .shadowFull;
}

.tabBarTab {
  @extend .flex;
  @extend .transition1;
  margin: auto;
  width: 24.7%;
  height: 50px;
  color: white;
  background-color: $color1;
  background-color: $colorGradient2;
  &:hover {
    background-color: rgba(255,255,255,.4);
    // color: $color1;
    color: black;
    cursor: pointer;
  }
}

.tabBarTabActive {
  &:hover {
    background-color: $colorGradient1;
    color: white;
    cursor: pointer;
  }
  @extend .tabBarTab;
  background-color: $colorGradient1;
  pointer-events: none;
}

.tabBarTabTitle {
  @extend .fontSizeBody2;
  margin: auto;
}

.portfolioBoxBox {
  @extend .flex;
  width: 80%;
  margin: auto;
  // background-color: green;
}
.portfolioBox {
  @extend .flex;
  width: 100%;
  margin: auto;
}

.portfolioTitleText {
  @extend .font1;
  @extend .fontSizeTitle4;
  @extend .transition2;
  opacity: 1;
  color: white;
  width: 100%;
  text-align: right;
  padding: 0;
}
.portfolioTitleTextHidden {
  @extend .portfolioTitleText;
  opacity: 0;
}

.portfolioYoutubeBox {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  z-index: 1;
  opacity: 1;
}

.portfolioYoutubeBox::after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.portfolioYoutubeBoxSmall {
  // @extend .transition2;
  display: inline-block;
  position: relative;
  width: 35%;
  margin: auto;
  z-index: 1;
}

.portfolioYoutubeBoxSmall::after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.portfolioYoutubeVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  // background-color: deepskyblue;
  /* let's see it! */
  // color: white;
}

.imageCache{
  display: none;
}

.iframe {
  @extend .transition3;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
}
.iframeHidden {
  @extend .transition2;
  position: relative;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
.portfolioImageBox {
  @extend .flex;
  position: relative;
  width: 100%;
  margin: auto;
}
.portfolioImage {
  @extend .flex;
  position: relative;
  width: 100%;
  margin: auto;
}

.portfolioBodyText {
  @extend .section2TextBody;
  @extend .transition2;
  margin: auto;
  width: 100%;
  color: white;
  opacity: 1;
  margin-top: 10px;
  // @extend .transition3;
}
.portfolioBodyTextHidden {
  @extend .portfolioBodyText;
  opacity: 0;
  // @extend .transition3;
}
.portfolioBodyTextGone{
  @extend .portfolioBodyText;
  opacity: 0;
}

.portfolioLink {
  @extend .section2TextBody;
  @extend .transition2;
  text-align: right;
  margin: auto;
  width: 100%auto;
  color: white;
  opacity: 1;
}
.portfolioLinkHidden {
  @extend .portfolioLink;
  opacity: 0;
}
.portfolioLinkGone {
  @extend .portfolioLink;
  opacity: 0;
}























.section4Box {
  @extend .section2Box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section4 {
  @extend .flex;
  @extend .section;
  height: auto;
  border: 0;
  // @extend .shadowFull;
}

.section4Title {
  @extend .font1;
  @extend .fontSizeTitle3;
  color: $color1;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.section4Text {
  @extend .section2TextBody;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 0;
  padding-bottom: 20px;
}

.section4ImageBox{
  @extend .flex;
  width: 100%;
}
.section4ImageBox{
  @extend .flex;
  margin: auto;
  width: 60%;
}

.miniProjectBox {
  @extend .flex;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.miniProject {
  width: 100%;
}

.miniProjectLink {
  width: 100%;
  margin: auto;
  color: $color1;
  :link {
    color: $color1;
  }
  :visited {
    color: $color2;
  }
}

















.section5Box {
  @extend .section4Box;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent;
  // background-color: rgba(0,0,0,.4);
}

.section5 {
  @extend .section;
  @extend .flex;
  background-color: transparent;
  color: white;
  // background-color: rgba(230, 20, 100, .8);;
  // background-color: rgba(0,0,0,.4);
  padding-bottom: 20px;
}

.section5Title {
  @extend .section4Title;
  color: white;
  padding: 0;
  margin-bottom: -2vw;
}

.section5Text {
  @extend .section4Text;
  color: white;
  :visited {
    color: white;
  }
  :link {
    color: white;
  }
}

.section5Text2 {
  @extend .section2TextBody;
  width: 80%;
  margin: auto;
  color: white;
  text-align: justify;
  padding-top: 20px;
}

















.section6Box {
  width: 100%;
  @extend .flex;
  background-color: white;
  padding: 20px;
}

.section6 {
  @extend .flex;
  @extend .section;
  width: 100%;
  // @extend .shadowFull;
}

.section6Title {
  @extend .flex;
  width: 100%;
  // padding: 20px;
}
.section6TitleText{
  // @extend .fontSizeTitle2;
  @include responsive-font(12vw, 20px, 240px, 100px);
  margin-top: -1vw;
  margin-bottom: -1.8vw;
  @extend .font1;
  // font-size: 7vw;
  margin-left: auto;
  margin-right: auto;
  color: $color1;
}

.section6Text {
  @extend .section4Text;
  @include responsive-font(8vw, 20px, 120px, 50px);
  margin-top: -1vw;
  margin-bottom: -0.5vw;
  width: 100%;
  padding: 0;
  color: $color1;
}

.section6IconsBox {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
}

.section6Icons {
  @extend .section6Text;
  @include responsive-font(6vw, 20px, 120px, 50px);
  display: inline;
  // font-size: 4vw;
  margin: 0;
  margin-top: 0;
  margin-bottom: auto;
  :hover {
    @extend .transition1;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  :not(:hover){
    @extend .transition1;
  }
  :link {
    color: $color1;
  }
  :visited {
    color: $color1;
  }
  ::before {
    color: $color1;
  }
}













.section7Whole {
  width: 100%;
  @extend .flex;
  padding: 20px;
}

.section7HeaderBox {
  @extend .flex;
  @extend .section;
  width: 100%;
  // padding: 20px;
  // background-color: rgba(49, 24, 71, 0.5);
  // margin-top: 20px;
}

.section7Header {
  @extend .flex;
  margin: auto;
  width: 100%;
  background-color: rgba(230, 20, 100, .5);
}

.section7Box1 {
  @extend .flex;
  @extend .section;
  width: 100%;
}
.section7Box2 {
  @extend .flex;
  @extend .section;
  width: 100%;
}
.section7 {
  @extend .flex;
  // background-color: rgba(230, 20, 100, .5);;
  // background-color: rgba(49, 24, 71, 0.5);
  background-color: rgba(0,0,0,.4);
  width: 100%;
  margin: auto;
  padding: 20px;
  // padding: 1vw;
  // padding-bottom: 3vw;
  // margin-top: 50px;
}
.section72 {
  @extend .flex;
  padding: 20px;
  background-color: rgba(230, 20, 100, .5);;
  width: 100%;
  margin: auto;
}
.section7Title {
  @extend .fontSizeTitle2;
  @extend .font1;
  // font-size: 12.2vw;
  margin: auto;
  color: white;
}
.section7Title2 {
  @extend .fontSizeTitle3;
  @extend .font1;
  text-align: center;
  margin: auto;
  color: white;
}
.section7Text {
  @extend .section5Text;
  width: 80%;
  text-align: justify;
}
hr {
  width: 100%;
  // margin-top: 40px;
}
.section7ImageBox {
  @extend .flex;
  padding: 20px;
  padding-top: 0;
}
.section7Image {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  // padding: 20px;
}
.spacer {
  width: 100%;
  height: 20px;
}

.section7YoutubeBox {
  @extend .flex;
  width: 50%;
  min-width: 400px;
  margin: auto;
  text-align: center;
  padding: 0;
  @media screen and (max-width: 900px){
    width: 80%;
    min-width: 200px;
    margin-bottom: 10px;
  }
}





















.footerBox {
  @extend .flex;
  position: relative;
  width: 100%;
  padding: 0;
  margin-top: 30px;
}
.emptySpace{
  width: 30%;
  height: 10px;
  background-color: orange;
  margin: 0;
}
.footer{
  @extend .flex;
  background-color: $color1;
  width: 50%;
}

.footerTextBox {
  width: 100%;
  padding: 30px;
  @media screen and (max-width: 600px){
    padding: 15px;
  }
  padding-right: 0;
}

.footerText{
  @extend .nav1Text;
  padding: 0;
  margin: 0;
  @include responsive-font(4vw, 3px, 40px, 30px);
  text-align: left;
  // @media screen and (max-width: 600px){
  //   @include responsive-font(4vw, 5px, 20px, 50px);
  // }
  color: white;;
}
.footerText2{
  @extend .nav1Text;
  padding: 0;
  margin: 0;
  @include responsive-font(3vw, 5px, 30px, 20px);
  text-align: left;
  // @media screen and (max-width: 600px){
  //   @include responsive-font(4vw, 5px, 20px, 50px);
  // }
  color: white;;
}
.footerIcons{
  color: white;
  margin: auto;
  width: 100%;
  padding: 30px;
  @media screen and (max-width: 600px){
    padding: 25px;
  }
  padding-left: 0;
  text-align: right;
}
.footerText3{
  @extend .footerText;
  padding: 0;
  text-align: right;
  :hover {
    @extend .transition2;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  :not(:hover){
    @extend .transition2;
  }
}
