// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Ubuntu');

.font1{
  font-family: 'Ubuntu', sans-serif;
}

.font2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.color1 {
  color: #311847;
}
$color1: #311847;

.color2 {
  color: #e93e43;
}
$color2: #e93e43;

// $colorGradient1: #EC4067;
// $colorGradient1: rgba(137,52,121,0.8);
$colorGradient1: rgba(134,11,180,0.8);
// $colorGradient2: #893479;
// $colorGradient2: rgba(236,64,103,0.8);
$colorGradient2: rgba(230,20,100,0.8);

.transition1{
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.transition2{
  transition: all 1s;
  -webkit-transition: all 1s;
}

// Body
body {
  @extend .font1;
  padding: 0;
  margin: 0;
  // background-color: red;
  font-size: 16px;
}
div {
  padding: 0;
  margin: 0;
}

// Background Image
.backgroundImage {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  z-index: -2;
  background-image: url("../images/collage2014big.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

// Navbar
.navbar {
  display: none;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 90%;
  max-width: 1024px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px white solid;
}

// Flexboxes

.mainContainer {
  @extend .flex;
  width: 100%;
  // background-color: black;
  // background-color: rgba(128,0,128,0.4);
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $colorGradient2 , $colorGradient1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $colorGradient2, $colorGradient1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $colorGradient2, $colorGradient1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $colorGradient2 , $colorGradient1); /* Standard syntax */
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  padding-bottom: 50px;
}

.section0 {
  @extend.flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 150px;
  background-color: rgba(0,0,0,.6);
  z-index: 5;
}

.navBox {
  @extend .flex;
  width: 90%;
  max-width: 1024px;
  margin: auto;
  color: white;
}

.nav1 {
  @extend .flex;
  width: calc(25% - 1px);
  height: 75px;
  margin: auto;
  text-align: center;
  .nav1Text {
    margin: auto;
    font-size: 3em;
  }
}
.nav2 {
  @extend .nav1;
}

.nav3 {
  @extend .nav1;
  .nav3Text {
    margin: auto;
    font-size: 1em;
  }
}
.nav4 {
  @extend .nav1;
  .nav4Text {
    margin: auto;
    font-size: 1em;
  }
}

.section1Box {
  width: 100%;
}

.section1 {
  @extend .flex;
  @extend .section;
  border: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section1Image {
  @extend .flex;
  width: 30%;
  min-height: 200px;
  .section1BoxImage {
    width: 90%;
    margin: auto;
    border-radius: 5%;
  }
  :hover {
    @extend .transition2;
    width: 95%;
  }
  :not(:hover){
    @extend .transition2;
  }
}

.flexText {
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.section1Text1 {
  width: 100%;
  color: white;
  font-size: 4em;
}

.section1Text2 {
  @extend .section1Text1;
  font-size: 2.5em;
}

.section1Text3Box {
  margin-top: 10px;
}

.section1Text3 {
  @extend .section1Text1;
  font-size: 2.5em;
  color: white;
  margin-right: 10px;
  :hover {
    @extend .transition1;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  :not(:hover){
    @extend .transition1;
  }
}

.section2Box {
  width: 100%;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

.section2 {
  @extend .flex;
  @extend .section;
  height: auto;
}

.section2Text {
  @extend .flex;
  margin: auto;
}

.section2TextTitle {
  @extend .color1;
  width: 100%;
  font-size: 2em;
}

.section2TextBody {
  @extend .font2;
  width: 80%;
  margin: auto;
  padding-top: 20px;
  font-size: 1.2em;
  text-align: justify;
  line-height: calc(1.2em + 5px);
}

.iconBox {
  @extend .flex;
  width: 100%;
  margin: auto;
  padding-top: 30px;
}

.iconBoxImageBox {
  width: 120px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin: auto;
  :hover {
    @extend .transition2;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  :not(:hover){
    @extend .transition2;
  }
}

.iconBoxImage {
  width: 100%;
}
.iconBoxImageSmall {
  width: 80%;
}


.section3Box {
  width: 100%;
}

.section3 {
  @extend .flex;
  @extend .section;
  height: auto;
  border: 0;
  padding-bottom: 20px;
}

.section3Title {
  @extend .section1Text1;
  padding-top: 30px;
  padding-bottom: 20px;
}

.portfolioBox {
  @extend .flex;
  width: 80%;
  height: auto;
  margin: auto;
}

.portfolioTitleText {
  @extend .section1Text2;
  width: 100%;
  text-align: right;
  padding-bottom: 20px;
}

.portfolioYoutubeBox {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: auto;
  z-index: 1;
  :hover {
    @extend .transition2;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  :not(:hover){
    @extend .transition2;
  }
}

.portfolioYoutubeBoxSmall {
  display: inline-block;
  position: relative;
  width: 50%;
  margin-right: auto;
  z-index: 1;
  :hover {
    @extend .transition2;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  :not(:hover){
    @extend .transition2;
  }
}

.portfolioYoutubeBox::after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.portfolioYoutubeBoxSmall::after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}

.portfolioYoutubeVideo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  // background-color: deepskyblue;
  /* let's see it! */
  // color: white;
}

.iframe {
  width: 100%;
  height: 100%;
}

.portfolioBodyText {
  @extend .section2TextBody;
  margin: auto;
  width: 100%;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section4Box {
  @extend .section2Box;
}

.section4 {
  @extend .flex;
  @extend .section;
  margin: auto;
  height: auto;
  border: 0;
}

.section4Title {
  @extend .section1Text1;
  color: $color1;
  width: 100%;
  margin: auto;
}

.section4Text {
  @extend .section2TextBody;
  width: 100%;
  // margin-right: auto;
  padding: 0;
  padding-bottom: 20px;
}

.miniProjectBox {
  @extend .flex;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

.miniProject {
  width: 100%;
}

.miniProjectLink {
  width: 100%;
  margin: auto;
}

.section5Box {
  @extend .section4Box;
  background-color: transparent;

}

.section5 {
  @extend .section4;
  background-color: transparent;
  color: white;
}

.section5Title {
  @extend .section4Title;
  color: white;
}

.section5Text {
  @extend .section4Text;
  color: white;
  :visited {
    color: white;
  }
  :link {
    color: white;
  }
}

.resumeLink {
  :hover {
    transform: scale(2.0);
  }
}
